Tema 1 introduccion a  LM MXL/U1_Rec/ej2.dtd

<!ELEMENT aeropuerto (nombre, vuelos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT vuelos (vuelo+)>
<!ELEMENT vuelo (diario?, origen, destino, hora-salida)>
    <!ATTLIST vuelo código ID #REQUIRED>
    <!ATTLIST vuelo estado (C | E |R) "E">
<!ELEMENT diario (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT destino (#PCDATA)>
<!ELEMENT hora-salida (#PCDATA)>
<!ELEMENT hora-llegada (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>